body {
    background-color: rgb(58, 58, 58);
}


.coding-area {
    width: 100%;
    height: 300px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #272822;
    color: #F8F8F2;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
}

.out {
    width: 100%;
    height: 200px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    background-color: #272822;
    color: #F8F8F2;
    border: none;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 10px;
    resize: none;
}

