<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
        <link href="/static/styles.css" rel="stylesheet" type="text/css">
        <title>{% block title %} {% endblock %}</title>

        <script>
            function handleTabKeyPress(event) {
                if (event.keyCode === 9) {
                    event.preventDefault();
                    var textarea = document.getElementsByTagName("textarea")[0];
                    
                    // Get the current cursor position
                    var start = textarea.selectionStart;
                    var end = textarea.selectionEnd;
                    
                    // Insert tab character at the cursor position
                    textarea.value = textarea.value.substring(0, start) + "\t" + textarea.value.substring(end);
                    
                    // Move the cursor position after the inserted tab
                    textarea.selectionStart = textarea.selectionEnd = start + 1;
                }
            }

            function clearAll() {
                document.getElementsByTagName("textarea")[0].value = " ";
                document.getElementsByTagName("pre")[0].innerHTML = " ";
            }

        </script>
    </head>

    <body>
        <nav class="navbar navbar-expand-lg bg-body-tertiary nav-color" data-bs-theme="dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Online complier</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mt-2">
                        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/python">Python</a></li>
                        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/c">C</a></li>
                        <li class="nav-item"> <a class="nav-link active" aria-current="page" href="/sql ">SQL</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        {% block index %}
            <main>
                <div class="container py-5">
                    {% block form %} {% endblock %}
                        <div class="form-floating">
                            <textarea class="coding-area" placeholder="Code goes here...." autofocus style="height:300px" name="code" onkeydown="handleTabKeyPress(event)"></textarea>
                        </div>
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                            <button type="button" class="btn btn-dark btn-lg m-1" onclick="clearAll()">Reset</button>
                            <button type="submit" class="btn btn-dark btn-lg m-1">Run</button>
                        </div>
                    </form>
                </div>
                <footer class="container py-5">
                    <div class="fs-5" style="color: aliceblue;">Output:</div>
                    <pre class="out m-2">{{output}}</pre>
                </footer>
            </main>
        {% endblock %}
    </body>
</html>