{% extends "main.html" %}

{% block title %}
    Snippets
{% endblock %}

{% block index %}
<div class="container-fluid py-2">
    <form action="/snippets" method="POST">
        <div class="m-2">
            <input type="hidden" name=".method" value="del">
            <button class="btn btn-dark" type="submit">Delete All</button>
        </div>
    </form>
    <table class="table">
        <thead>
          <tr>
            <th scope="col" style="width: 5%;">#</th>
            <th scope="col" style="width: 10%;">Lang</th>
            <th scope="col">Code</th>
          </tr>
        </thead>
        <tbody class="table-group-divider">
        {% for row in details %}
            <tr>
                <th scope="row" style="width: 5%;">{{row[0]}}</th>
                <td style="width: 10%;">{{row[2]}}</td>
                <td>{{row[3]}}</td>
            </tr>
        {% endfor %}
        </tbody>
      </table>
</div>
{% endblock %}